//page contact
.wrapper_contact {
  position: absolute;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: url(../img/img71.svg);
  background-size: cover;

  //header

  .header {
    max-width: 70rem;
    width: 100%;
    margin: 25px auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    .logo_img {
      height: 10vh;
      width: auto;
    }

    .btn {
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      background-color: aliceblue;
      border: solid 1px #1179e7;
      border-radius: 25%;
      color: #1a1a1a;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 0.6s;
        box-shadow: 0 0 0.1rem #ffffff, 0 0 0.4rem #ffffff, 0 0 2rem #ffffff;
      }
    }
  }

  //header end

  //contact

  .contacts {
    padding: 100px 0 150px;
    .contacts__title {
      padding: auto;
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      margin-top: 50px;
      color: aliceblue;
    }
    .contacts__text {
      padding: auto;
      text-align: center;
      font-weight: 300;
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: aliceblue;
    }

    .form {
      max-width: 580px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .form__input {
        width: 270px;
        padding: 18px 20px;
        display: inline-block;
        border: 2px solid #1179e7;
        font-size: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        color: #151515;
        opacity: 0.9;
      }
      .form__input::placeholder {
        font-size: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        color: #151515;
        opacity: 0.5;
      }

      .form__textarea {
        margin-top: 20px;
        width: 100%;
        resize: none;
        padding: 20px 20px;
        height: 250px;
        display: inline-block;
        border: 2px solid #1179e7;
        font-size: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        color: #151515;
        opacity: 0.9;
        margin-bottom: 20px;
      }
      .form__btn {
        padding: 0.2rem 0.4rem;
        background-image: linear-gradient(135deg, #1179e7 20%, #1ee814 80%);
        border-radius: 20px;
        color: #f2f2f2;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
//contact end

//page reglage

.wrapper_reglage {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  //header

  .header {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;

    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    .logo_img {
      height: 10vh;
      width: auto;
    }
    .btn {
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      background-image: linear-gradient(135deg, #151515 20%, #0a0065 80%);
      border: 2px;
      border-radius: 25px;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 0.6s;
        box-shadow: 0 0 0.1rem #ffffff, 0 0 0.4rem #ffffff, 0 0 2rem #ffffff;
      }
    }
  }

  .container_reglage {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: stretch;
    text-decoration: none;

    .card_link {
      text-decoration: none;
    }
    .card {
      margin: 1vh;
      perspective: 1000px;
      transform-style: preserve-3d;
      .card_item {
        background-color: #1179e7;
        width: 200px;
        height: 280px;
        border-radius: 15px;
        transition: transform 0.2s;
        cursor: pointer;

        .card_btn1 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: url(../img/reglage_img/2C0891.png),
            linear-gradient(#5ed414 40%, #ffffff 70%);
          background-size: cover;
          text-transform: uppercase;

          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #1ee814, 0 0 2rem #1ee814, 0 0 10rem #1ee814;
          }
        }
        .card_btn2 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: url(../img/reglage_img/2C0890.png),
            linear-gradient(#e3dc1a 40%, #f2f2f2 70%);
          background-size: cover;
          background-repeat: no-repeat;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #e3dc1a, 0 0 2rem #e3dc1a, 0 0 10rem #e3dc1a;
          }
        }
        .card_btn3 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: url(../img/reglage_img/2C0520.png),
            linear-gradient(#9d1ae3 40%, #f2f2f2 70%);
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #9d1ae3, 0 0 2rem #9d1ae3, 0 0 10rem #9d1ae3;
          }
        }
        .card_btn4 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: linear-gradient(#d32e47 40%, #f2f2f2 70%);
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #d32e47, 0 0 2rem #d32e47, 0 0 10rem #d32e47;
          }
        }
        .card_btn5 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: linear-gradient(#1a35e3 40%, #f2f2f2 70%);
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #1a35e3, 0 0 2rem #1a35e3, 0 0 10rem #1a35e3;
          }
        }
        .card_btn6 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: linear-gradient(#2acba5 40%, #f2f2f2 70%);
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #2acba5, 0 0 2rem #2acba5, 0 0 10rem #2acba5;
          }
        }
        .card_btn7 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: linear-gradient(#e39d1a 40%, #f2f2f2 70%);
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #e39d1a, 0 0 2rem #e39d1a, 0 0 10rem #e39d1a;
          }
        }
        .card_btn8 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: linear-gradient(#108b12 40%, #f2f2f2 70%);
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #108b12, 0 0 2rem #108b12, 0 0 10rem #108b12;
          }
        }
        .card_btn9 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: url();
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #e3dc1a, 0 0 2rem #e3dc1a, 0 0 10rem #e3dc1a;
          }
        }
        .card_btn10 {
          height: 100%;
          width: 100%;
          border-radius: 0 15px 0 15px;
          background-image: url();
          background-size: cover;
          text-transform: uppercase;
          padding-top: 20px;
          text-align: center;
          color: aliceblue;
          font-size: 2.5rem;
          border: 1px solid #151515;
          &:hover {
            transition: 0.6s;
            box-shadow: 0 0 0.5rem #e3dc1a, 0 0 2rem #e3dc1a, 0 0 10rem #e3dc1a;
          }
        }
      }
    }
  }
}

//reglage end

//page news

.wrapper_news {
  position: absolute;

  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../img/news_Grid.svg);
  background-repeat: repeat-y;
  background-size: cover;

  //header

  .header {
    max-width: 70rem;
    width: 100%;
    margin: 25px auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    .logo_img {
      height: 10vh;
      width: auto;
      margin-right: 50vh;
    }

    .btn {
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      background-color: #1a1a1a;
      border: none;
      border-radius: 25%;
      color: whitesmoke;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 0.6s;
        box-shadow: 0 0 0.1rem #787878, 0 0 0.4rem #787878, 0 0 2rem #787878;
      }
    }
  }
  main {
    position: relative;
    max-width: 1000px;
    width: 80%;
    padding-top: 10vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: left;
    line-height: 1.4;
    h1 {
      font-size: 5vh;
      font-weight: 900;
    }
    p {
      font-size: 3vh;
      font-weight: 500;
    }
    .title {
      position: relative;
      justify-content: center;
      padding: 1rem;
    }
    .text {
      padding: 1rem;
    }
    .news_img {
      width: 80%;
      height: 80%;
      padding: 1rem;
      position: relative;
      size: cover;
      margin: 0 auto;
      margin-left: 10%;
      &:hover {
        transition: 0.8s;
        scale: 1.5;
        cursor: pointer;
      }
    }
  }
}

// page news end

//page news_alert
.wrapper_news_alert {
  position: absolute;

  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../img/alerte_Grid.svg);
  background-repeat: repeat-y;
  background-size: cover;

  //header

  .header {
    max-width: 70rem;
    width: 100%;
    margin: 25px auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    .logo_img {
      height: 10vh;
      width: auto;
      margin-right: 50vh;
    }

    .btn {
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      background-color: #1a1a1a;
      border: none;
      border-radius: 25%;
      color: whitesmoke;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 0.6s;
        box-shadow: 0 0 0.1rem #787878, 0 0 0.4rem #787878, 0 0 2rem #787878;
      }
    }
  }
  main {
    position: relative;
    max-width: 1000px;
    width: 80%;
    padding-top: 10vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: left;
    line-height: 1.4;
    h1 {
      font-size: 5vh;
      font-weight: 900;
    }
    p {
      font-size: 3vh;
      font-weight: 500;
    }
    .title {
      position: relative;
      justify-content: center;
      padding: 1rem;
    }
    .text {
      padding: 1rem;
    }
    .news_img {
      width: 80%;
      height: 80%;
      padding: 1rem;
      position: relative;
      size: cover;
      margin: 0 auto;
      margin-left: 10%;
      &:hover {
        transition: 0.8s;
        scale: 1.5;
        cursor: pointer;
      }
    }
  }
}
//page news_alert end

//page info_gen
.wrapper_info-generale {
  position: absolute;

  width: 100%;
  align-items: center;
  justify-content: center;

  background-repeat: repeat-y;
  background-size: cover;
  overflow-x: hidden;

  //header

  .header {
    max-width: 70rem;
    width: 100%;
    margin: 25px auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    position: relative;
    .logo_img {
      height: 10vh;
      width: auto;
      margin-right: 50vh;
    }

    .btn {
      position: sticky;
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      background-color: #1a1a1a;
      border: none;
      border-radius: 25%;
      color: whitesmoke;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 0.6s;
        box-shadow: 0 0 0.1rem #787878b5, 0 0 0.4rem #787878, 0 0 2rem #787878;
      }
    }
  }
  main {
    position: relative;
    max-width: 1000px;
    width: 80%;
    padding-top: 10vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: left;
    line-height: 1.4;
    color: #151515;

    h1 {
      font-size: 5vh;
      font-weight: 400;
    }
    p {
      font-size: 3vh;
      font-weight: 500;
    }
    .info {
      position: absolute;
      z-index: 1;

      .title {
        position: relative;
        justify-content: center;
        padding: 1rem;
      }
      .text {
        padding: 1rem;
      }
    }
    .news_img {
      width: 80%;
      height: 80%;
      padding: 1rem;
      position: relative;
      size: cover;
      margin: 0 auto;
      margin-left: 10%;
      &:hover {
        transition: 0.8s;
        scale: 1.5;
        cursor: pointer;
      }
    }
    .images {
      width: 100%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
      align-items: center;
      justify-content: space-around;
      z-index: 0;
      opacity: 0.8;
      .img1 {
        width: 20%;
        height: 20%;
        size: calc((1vh + 1vw) * 0.5);
        transform: translateX(-16vw) translateY(50vh) rotateZ(-55deg);
      }
      .img2 {
        width: 20%;
        height: 20%;
        size: cover;
        transform: translateX(64vw) translateY(-25vh) rotateZ(25deg);
      }
      .img3 {
        width: 20%;
        height: 20%;
        scale: 0.3;
        size: cover;
        box-sizing: calc((1vh + 1vw) * 0.1);
        transform: translateX(-50vw) translateY(40vh) rotateZ(-10deg);
        opacity: 0.8;
      }
      .img4 {
        width: 20%;
        height: 20%;
        size: cover;
        transform: translateX(50vw) translateY(-50vh) rotateZ(-15deg);
      }
      .img5 {
        width: 20%;
        height: 20%;
        size: cover;
        transform: translateX(58vw) translateY(-25vh) rotateZ(-18deg);
      }
    }

    // circular menu
    .circular-menu {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      height: auto;
      align-items: center;
      transform: translateY(-23vh);
    }
    .menu {
      position: relative;
      background-image: url(../img/logo-no-background.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      margin: auto;
      margin-top: 7rem;
      margin-bottom: 5rem;
      cursor: pointer;
      border: 1rem solid transparent;
    }

    .menu ul {
      list-style: none;
      padding: 0;
    }
    .menu li {
      content: "";
      width: 110px;
      height: 20px;
      padding: 0.1rem;
      margin-top: 0.2rem;
      text-align: center;
      font-size: 0.7rem;
      border-radius: 0.5rem;
      transition: all 1s;
      background: #151515c8;
      opacity: 0;
      z-index: -1;
    }
    .menu:hover li {
      opacity: 1;
    }

    .menu:hover ul::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      display: block;
      left: 50%;
      top: -5rem;
      border-width: 6.5rem;
      border-radius: 0 7.5rem 7.5rem 0;
      border-left: 0;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.01);
      z-index: -1;
      cursor: default;
    }
    .menu a {
      color: #f1f1f1;
      text-decoration: none;
      line-height: 1rem;
    }
    .menu a {
      color: #f1f1f1;
      text-decoration: none;
    }
    .menu ul {
      transform: rotate(180deg) translateY(-3rem);
      transition: 1s all;
    }
    .menu:hover ul {
      transform: rotate(0deg) translateY(-0.8rem);
    }
    .menu li:hover {
      background: #151515;
      z-index: 10;
    }

    .menu li:nth-of-type(1) {
      transform: rotate(-90deg);
      position: absolute;
      left: -1.4rem;
      top: -4.4rem;
    }
    .menu li:nth-of-type(2) {
      transform: rotate(-45deg);
      position: absolute;
      left: 2.2rem;
      top: -3.2rem;
    }
    .menu li:nth-of-type(3) {
      position: absolute;
      left: 3.4rem;
      top: 0.3rem;
    }
    .menu li:nth-of-type(4) {
      transform: rotate(45deg);
      position: absolute;
      left: 2rem;
      top: 3.7rem;
    }
    .menu li:nth-of-type(5) {
      transform: rotate(90deg);
      position: absolute;
      left: -1.4rem;
      top: 5.2rem;
    }
    .hint {
      text-align: center;
    }
  }
}
//page info_gen end

//page b5000

.wrapper_b5000 {
  position: relative;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#fb8d8d 10%, #f1f1f1 60%);
  background: opacity(0.5);
  a {
    text-decoration: none;
    font-style: inherit;
    color: inherit;
  }

  .header {
    position: relative;

    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    position: absolute;
    .logo_img {
      margin-top: 3vh;
      height: 10vh;
      width: auto;
      margin-right: 100vh;
    }

    .btn {
      position: sticky;
      margin-top: 1rem;
      padding: 0.2rem 0.4rem;
      background-color: #1a1a1a;
      border: none;
      border-radius: 25%;
      color: whitesmoke;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 0.6s;
        box-shadow: 0 0 0.1rem #5e7cd1b5, 0 0 0.4rem #5e7cd1b5,
          0 0 2rem #5e7cd1b5;
      }
    }
  }
  .container {
    position: absolute;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    transform: translateY(200px);

    .card {
      width: 80px;
      border-radius: 0.75rem;
      background-size: cover;
      overflow: hidden;
      cursor: pointer;
      border-radius: 2rem;
      margin: 0 10px;
      display: flex;
      align-items: flex-end;
      transition: 0.6s cubic-bezier(0.28, -0.03, 0 0.99);
      box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.8);
      & > .row {
        color: whitesmoke;
        display: flex;
        flex-wrap: nowrap;
        & > .icon {
          background: #223;
          color: white;
          border-radius: 50%;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px;
        }
        & > .description {
          display: flex;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
          height: 80px;
          width: 520px;
          opacity: 0;
          transform: translateY(30px);
          transition-delay: 0.3s;
          transition: all 0.5s ease;

          p {
            color: #b0b0ba;
            padding-top: 5px;
          }
          h4 {
            text-transform: uppercase;
          }
        }
      }
    }
    input {
      display: none;
    }
    input:checked + label {
      width: 600px;
    }
    input:checked + label .description {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
    .card[for="c1"] {
      background-image: linear-gradient(#d54e4e, #521eab);
    }
    .card[for="c2"] {
      background-image: linear-gradient(#d54e4e, #521eab);
    }
    .card[for="c3"] {
      background-image: linear-gradient(#d54e4e, #521eab);
    }
    .card[for="c4"] {
      background-image: linear-gradient(#d54e4e, #521eab);
    }
  }
}
